In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [4]:
Ethereum = pd.read_csv(r'C:\Users\aksha\Desktop\Projects\Bitcoins and Ethereum training model\Ethereum Historical Data.csv')
print("Data import successful")
Ethereum.describe()

Data import successful

              High          Low
count   881.000000   881.000000
mean    566.030318   517.197219
std     776.374177   693.635201
min     106.120000    88.500000
25%     173.960000   163.730000
50%     233.700000   221.600000
75%     419.110000   394.510000
max    4366.100000  3794.150000

In [5]:
Ethereum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881 entries, 0 to 880
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   High    881 non-null    float64
 1   Low     881 non-null    float64
dtypes: float64(2)
memory usage: 13.9 KB

In [6]:
EthHigh = Ethereum.iloc[:, :-1].values  
EthLow = Ethereum.iloc[:, 1].values

In [7]:
train_a, test_a, train_b, test_b = train_test_split(EthHigh, EthLow, test_size=0.2, random_state=0) 
print('Training Complete')

Training Complete

In [8]:
regre = LinearRegression()  
regre.fit(train_a,train_b)

LinearRegression()

In [9]:
print(test_a) # Testing data - In High
pred_b = regre.predict(test_a) # Predicting the Low
pred_b

[[ 755.13]
 [ 188.23]
 [ 134.86]
 [1950.04]
 [ 163.68]
 [ 324.13]
 [ 139.98]
 [ 135.27]
 [ 227.05]
 [2797.52]
 [ 462.93]
 [ 184.17]
 [ 211.33]
 [ 116.24]
 [ 264.22]
 [ 193.09]
 [ 433.65]
 [1945.4 ]
 [1932.36]
 [ 402.01]
 [ 269.62]
 [3877.2 ]
 [ 394.12]
 [1131.56]
 [ 220.84]
 [2127.89]
 [ 268.75]
 [ 230.96]
 [ 171.04]
 [ 238.61]
 [ 152.21]
 [ 176.71]
 [ 155.4 ]
 [ 142.9 ]
 [ 173.05]
 [ 237.47]
 [ 318.54]
 [ 615.97]
 [ 231.3 ]
 [ 239.47]
 [ 183.42]
 [ 201.96]
 [ 410.17]
 [ 180.63]
 [1935.04]
 [ 341.11]
 [ 126.17]
 [ 151.75]
 [ 182.27]
 [ 309.42]
 [2481.06]
 [1210.78]
 [ 193.25]
 [ 183.49]
 [ 480.96]
 [ 134.93]
 [ 394.58]
 [ 249.81]
 [ 358.09]
 [ 415.08]
 [ 409.85]
 [ 326.53]
 [ 127.04]
 [ 210.63]
 [2539.8 ]
 [ 173.42]
 [ 218.19]
 [ 161.82]
 [3451.44]
 [2797.61]
 [ 186.24]
 [ 214.45]
 [ 162.56]
 [ 193.26]
 [ 488.24]
 [ 185.54]
 [ 211.03]
 [ 418.92]
 [ 399.05]
 [ 458.51]
 [ 234.53]
 [ 137.68]
 [ 128.79]
 [ 162.88]
 [ 247.84]
 [ 141.57]
 [ 129.66]
 [ 313.67]
 [ 188.35]
 [ 177.67]
 [ 218.65]
 [ 161.95]
 [ 354.9 ]
 [ 244.36]
 [ 177.29]
 [ 200.82]
 [ 275.04]
 [ 229.28]
 [ 467.88]
 [ 144.86]
 [ 386.99]
 [ 232.87]
 [ 228.14]
 [ 203.12]
 [ 177.42]
 [ 244.43]
 [ 383.99]
 [ 385.39]
 [ 132.68]
 [ 142.69]
 [2747.49]
 [ 261.67]
 [ 234.55]
 [1827.07]
 [ 136.86]
 [ 357.8 ]
 [ 133.84]
 [ 246.39]
 [ 159.31]
 [ 438.71]
 [1271.08]
 [ 183.71]
 [ 180.06]
 [ 181.08]
 [ 129.73]
 [ 110.56]
 [1742.9 ]
 [ 211.01]
 [ 344.12]
 [2345.18]
 [ 233.5 ]
 [ 408.1 ]
 [ 638.11]
 [ 606.9 ]
 [ 185.73]
 [ 145.82]
 [ 164.33]
 [ 208.23]
 [ 172.53]
 [1301.75]
 [ 138.57]
 [ 138.33]
 [1839.41]
 [1841.19]
 [ 162.72]
 [ 238.61]
 [ 190.17]
 [ 358.33]
 [ 231.94]
 [ 132.96]
 [ 247.11]
 [ 189.3 ]
 [ 227.55]
 [ 147.68]
 [1670.01]
 [ 180.57]
 [1817.35]
 [ 351.04]
 [ 317.94]
 [ 236.83]
 [ 245.33]
 [ 149.46]
 [2567.42]
 [ 164.75]
 [ 314.  ]
 [ 175.02]
 [ 149.55]
 [ 140.08]
 [ 269.79]
 [ 139.45]
 [1347.98]
 [ 241.36]
 [ 253.21]
 [ 220.33]
 [ 355.69]
 [ 242.08]
 [ 285.75]]

array([ 685.40759232,  181.37912157,  133.92807291, 1747.79718481,
        159.551817  ,  302.20725559,  138.48024396,  134.29260223,
        215.89382475, 2501.28818568,  425.61376774,  177.76939218,
        201.91723706,  117.37310709,  248.94151968,  185.70012768,
        399.58103953, 1743.6717798 , 1732.07796914,  371.45004497,
        253.74263759, 3461.2272566 ,  364.43507825, 1020.0899653 ,
        210.37253916, 1905.92289221,  252.96912415,  219.37018975,
        166.09556289,  226.17177346,  149.35388693,  171.1367367 ,
        152.19010288,  141.07640402,  167.88264567,  225.15820412,
        297.23720945,  561.68100564,  219.67248236,  226.93639594,
        177.10257024,  193.5864084 ,  378.70506759,  174.62199266,
       1734.46074618,  317.30410412,  126.20182946,  148.94490281,
        176.08010995,  289.12865477, 2219.92489435, 1090.52414321,
        185.84238303,  177.16480696,  441.64416698,  133.99030962,
        364.84406237,  236.12964764,  332.40095265,  383.0705285 ,
        378.4205569 ,  304.34108577,  126.9753429 ,  201.29486993,
       2272.15038804,  168.21161116,  208.016435  ,  157.89809861,
       3082.68578243, 2501.36820431,  179.60982071,  204.6912163 ,
        158.55602959,  185.85127399,  448.11678519,  178.98745357,
        201.65050829,  386.48465679,  368.81832108,  421.68396382,
        222.54426215,  136.43532337,  128.53126074,  158.84054028,
        234.3781287 ,  139.89390646,  129.30477418,  292.90731238,
        181.48581308,  171.99026877,  208.42541912,  158.01368108,
        329.5647367 ,  231.28407493,  171.65241232,  192.57283906,
        258.56153742,  217.87650863,  430.01479249,  142.819032  ,
        358.09582442,  221.06836294,  216.86293929,  194.61775965,
        171.76799479,  231.34631165,  355.42853669,  356.67327096,
        131.98984383,  140.88969388, 2456.80671736,  246.67432512,
        222.56204407, 1638.4650609 ,  135.70626473,  332.14311484,
        133.02119508,  233.08893963,  155.66646788,  404.07986483,
       1144.13662651,  177.36040806,  174.11520799,  175.02208582,
        129.3670109 ,  112.32304232, 1563.62985825,  201.63272637,
        319.9802828 , 2099.11454225,  221.62849336,  376.86463906,
        581.36558906,  553.61690574,  179.15638179,  143.67256407,
        160.12972934,  199.16103974,  167.4203158 , 1171.40519804,
        137.22661873,  137.01323571, 1649.43650441, 1651.01909513,
        158.69828493,  226.17177346,  183.10396763,  332.61433567,
        220.24150374,  132.23879068,  233.72908868,  182.33045419,
        216.3383727 ,  145.32628246, 1498.82365745,  174.5686469 ,
       1629.82304866,  326.13282649,  296.70375191,  224.58918274,
        232.14649796,  146.90887318, 2296.70721705,  160.50314963,
        293.20071403,  169.63416461,  146.98889181,  138.56915355,
        253.8937839 ,  138.00902313, 1212.50810191,  228.61678721,
        239.15257373,  209.91910024,  330.26712247,  229.25693626,
        268.0837546 ])

In [10]:
df = pd.DataFrame({'Actual': test_b, 'Predicted': pred_b})  
df

      Actual    Predicted
0     724.67   685.407592
1     177.24   181.379122
2     126.05   133.928073
3    1849.05  1747.797185
4     159.40   159.551817
..       ...          ...
172   227.95   239.152574
173   204.79   209.919100
174   326.66   330.267122
175   237.21   229.256936
176   253.88   268.083755

[177 rows x 2 columns]

In [11]:
print('Mean  error: ',mean_absolute_error(test_b,pred_b))

Mean  error:  17.95284953235934

In [13]:
High =[239.152574]
answer = regre.predict([High])
print("Low =", answer)

Low = [226.65417378]